<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>MERCEDES-BENZ CERTIFIED</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsivetl.style.css">
    <link rel="stylesheet" href="css/responsivemb.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v3"></script>
</head>

<body>
    <div class="wrapper">
        <!-- start header -->
        <div class="modal">
            <div class="modal__video">
                <video src="video/Mercedes-Benz Certified Pre Owned.mp4" loop controls></video>
            </div>
        </div>
        <header class="header" id="home">
            <div class="header__banner">
                <div class="banner__img">
                    <div class="rgba"></div>
                    <img src="images/slider-1.jpg" alt="">
                </div>
                <div class="header__navbar-main" id="navmain">
                    <div class="header__logo">
                        <img src="images/logo.png" alt="">
                    </div>
                    <div class="navbar-mobile__nav">
                        <div class="menu-btn">
                            <div class="menu-btn__burger"></div>
                        </div>
                    </div>
                    <div class="navbar-sub__nav">
                        <ul>
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#searchcar">Search car</a>
                            </li>
                            <li>
                                <a href="#service">Service</a>
                            </li>
                            <li>
                                <a href="#furniture">Furniture</a>
                            </li>
                            <li>
                                <a href="#featured">Featured</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                             <li>
                                <a href="/login">Login</a>
                            </li>
                            <li>
                                <a href="/register">Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-main__nav none none ">
                        <ul>
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#searchcar">Search car</a>
                            </li>
                            <li>
                                <a href="#service">Service</a>
                            </li>
                            <li>
                                <a href="#furniture">Furniture</a>
                            </li>
                            <li>
                                <a href="#featured">Featured</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                            <li>
                                <i class="fa fa-search" style="font-size:20px; color:white"></i>
                            </li>
                        </ul>
                        <div class="header__logo-sub">
                            <img src="images/logosub.svg" alt="">
                        </div>
                    </div>
                    <div class="header__navbar-top none">
                      
                        <a href="/login">Login</a>
                        <a href="/register">Register</a>
                        {{#if name}}
                        <a>{{name}}</a>
                        {{/if}}
                    </div>
                </div>

                <div class="banner__box-text">
                    <div class="box-text__subtitle">
                        <h3> NEW technology & build</h3>

                    </div>
                    <div class="box-text__title">
                        <h1>
                            WHEELS & TIRES COLLECTIONS
                        </h1>
                    </div>

                    <div class="box-text__btn">
                        <a href=""> GET STARTED
                        </a>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header -->
        <!-- start main -->
        <main class="main">
            <div class="searchcar" id="searchcar">
                <div class="container">
                    <div class="searchcar__boxbig">
                        <div class="boxbig__boxleft">
                            <h2>SEARCH YOUR CAR</h2>
                            <div class="boxleft__option">
                                <div class="option__nice-select">
                                    <span>Select Brand</span>
                                    <div><i class="fa fa-caret-down" style="font-size:24px"></i></div>
                                    <ul>
                                        <li>Brand 1</li>
                                        <li>Brand 2</li>
                                        <li>Brand 3</li>
                                        <li>Brand 4</li>
                                        <li>Brand 5</li>
                                    </ul>
                                </div>
                                <div class="option__nice-select">
                                    <span>Select Brand</span>
                                    <div><i class="fa fa-caret-down" style="font-size:24px"></i></div>
                                    <ul>
                                        <li>Brand 1</li>
                                        <li>Brand 2</li>
                                        <li>Brand 3</li>
                                        <li>Brand 4</li>
                                        <li>Brand 5</li>
                                    </ul>
                                </div>
                                <div class="option__nice-select">
                                    <span>Select Brand</span>
                                    <div><i class="fa fa-caret-down" style="font-size:24px"></i></div>
                                    <ul>
                                        <li>Brand 1</li>
                                        <li>Brand 2</li>
                                        <li>Brand 3</li>
                                        <li>Brand 4</li>
                                        <li>Brand 5</li>
                                    </ul>
                                </div>
                                <div class="option__nice-select">
                                    <span>Select Brand</span>
                                    <div><i class="fa fa-caret-down" style="font-size:24px"></i></div>
                                    <ul>
                                        <li>Brand 1</li>
                                        <li>Brand 2</li>
                                        <li>Brand 3</li>
                                        <li>Brand 4</li>
                                        <li>Brand 5</li>
                                    </ul>
                                </div>
                                <div class="option__nice-select">
                                    <span>Select Brand</span>
                                    <div><i class="fa fa-caret-down" style="font-size:24px"></i></div>
                                    <ul>
                                        <li>Brand 1</li>
                                        <li>Brand 2</li>
                                        <li>Brand 3</li>
                                        <li>Brand 4</li>
                                        <li>Brand 5</li>
                                    </ul>
                                </div>
                                <div class="option__nice-select">
                                    <span>Select Brand</span>
                                    <div><i class="fa fa-caret-down" style="font-size:24px"></i></div>
                                    <ul>
                                        <li>Brand 1</li>
                                        <li>Brand 2</li>
                                        <li>Brand 3</li>
                                        <li>Brand 4</li>
                                        <li>Brand 5</li>
                                    </ul>
                                </div>
                                <div class="boxleft__pricecar">
                                    <p>Price Range</p>
                                </div>
                                <div class="boxleft__imgprice">
                                    <img src="images/searchcar1.png" alt="">
                                </div>
                                <div class="box-text__btn bg-bl">
                                    <a href=""> GET STARTED
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="boxbig__boxright">
                            <div class="boxright__img1">
                                <img src="images/sevice1.jpg" alt="">
                                <div class="rgba"></div>
                                <div class="img1__icon">
                                    <img src="images/iconkey1.png" alt="">
                                </div>
                            </div>
                            <div class="boxright__img1">
                                <img src="images/sevice2.jpg" alt="">
                                <div class="rgba"></div>
                                <div class="img1__icon">
                                    <img src="images/purchar1.png" alt="">
                                </div>
                            </div>
                            <div class="boxright__img1 mt-1 mt-0">
                                <img src="images/sevice3.jpg" alt="">
                                <div class="rgba"></div>
                                <div class="img1__icon">
                                    <img src="images/fixcar1.png" alt="">
                                </div>
                            </div>
                            <div class="boxright__img1 mt-1 mt-0">
                                <img src="images/sevice4.jpg" alt="">
                                <div class="rgba"></div>
                                <div class="img1__icon">
                                    <img src="images/fixthing1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="service" id="service">
                <div class="service__boxleft">
                    <div class="boxleft__boxitem">
                        <img src="images/carbox3.png" alt="">
                        <div class="boxitem__text">
                            <div class="text__titile">
                                <h2>SERVICE</h2>
                            </div>
                            <div class="text__icon">
                                <ul>
                                    <li>
                                        <div class="icon__textleft">Purchase</div>
                                        <span class="icon__icon"><i class="fa fa-shopping-basket"></i></span>
                                    </li>
                                    <li>
                                        <span class="icon__icon"><i class="fa fa-usd"></i></span>
                                        <div class="icon__textleft">Purchase</div>

                                    </li>
                                    <li>
                                        <div class="icon__textleft">Purchase</div>
                                        <span class="icon__icon"><i class="fa fa-wrench"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service__boxright">
                    <img src="images/service_bg2.jpg" alt="">
                    <div class="rgba"></div>
                    <div class="boxright__btnplay">
                        <a>
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2 class="furniture__h2" id="furniture">FURNITURE</h2>
                <p class="furniture__p">Click any where and test car</p>
                <div class="furniture">

                    <div class="nutphanhxe"></div>
                    <div class="nutkhoidong"></div>
                    <div class="nutcoixe">
                    </div>
                    <img src="images/noithatxe.jpg" alt="">

                </div>
            </div>

            <div class="container">
                <h2 class="future__h2" id="featured">FEATURED CARS</h2>
                <div class="future">
                    <div class="future__car">
                        <div class="car__img">
                            <img src="images/car1.jpg" alt="" class="dauxe">
                            <img src="images/duoixe.jpg" alt="" class="duoixe">
                        </div>
                        <div class="car__text">
                            <h3>Aurora</h3>
                            <ul>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                            </ul>
                            <div class="box-text__btn">
                                <a href=""> 72000$
                                </a>
                                <span class="buynow">buy now</span>
                            </div>
                        </div>
                    </div>
                    <div class="future__car">
                        <div class="car__img">
                            <img src="images/car2.jpg" alt="" class="dauxe">
                            <img src="images/duoixe.jpg" alt="" class="duoixe">
                        </div>
                        <div class="car__text">
                            <h3>Aurora</h3>
                            <ul>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                            </ul>
                            <div class="box-text__btn">
                                <a href="">  72000$
                                </a>
                                <span class="buynow">buy now</span>
                            </div>
                        </div>
                    </div>
                    <div class="future__car mt-tl-2">
                        <div class="car__img">
                            <img src="images/car3.jpg" alt="" class="dauxe">
                            <img src="images/duoixe.jpg" alt="" class="duoixe">
                        </div>
                        <div class="car__text">
                            <h3>Aurora</h3>
                            <ul>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                            </ul>
                            <div class="box-text__btn">
                                <a href="">  72000$
                                </a>
                                <span class="buynow">buy now</span>
                            </div>
                        </div>
                    </div>
                    <div class="future__car mt-2">
                        <div class="car__img">
                            <img src="images/car4.jpg" alt="" class="dauxe">
                            <img src="images/duoixe.jpg" alt="" class="duoixe">
                        </div>
                        <div class="car__text">
                            <h3>Aurora</h3>
                            <ul>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                            </ul>
                            <div class="box-text__btn">
                                <a href=""> 72000$
                                </a>
                                <span class="buynow">buy now</span>
                            </div>
                        </div>
                    </div>
                    <div class="future__car mt-2">
                        <div class="car__img">
                            <img src="images/car5.jpg" alt="" class="dauxe">
                            <img src="images/duoixe.jpg" alt="" class="duoixe">
                        </div>
                        <div class="car__text">
                            <h3>Aurora</h3>
                            <ul>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                            </ul>
                            <div class="box-text__btn">
                                <a href=""> 72000$
                                </a>
                                <span class="buynow">buy now</span>
                            </div>
                        </div>
                    </div>
                    <div class="future__car mt-2">
                        <div class="car__img">
                            <img src="images/car6.jpg" alt="" class="dauxe">
                            <img src="images/duoixe.jpg" alt="" class="duoixe">
                        </div>
                        <div class="car__text">
                            <h3>Aurora</h3>
                            <ul>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                                <li>
                                    <span class="text__title">model</span>
                                    <span class="text__name">Aurora 811</span>
                                </li>
                            </ul>
                            <div class="box-text__btn">
                                <a href=""> 72000$
                                </a>
                                <span class="buynow">buy now</span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="subscribe mt-3">

                    <h3>SPECIAL OFFER FOR SUBSCRIPTION</h3>
                    <h2>GET INSTANT DISCOUNT FOR MEMBERSHIP
                    </h2>
                    <p>Subscribe our newsletter and all latest news of our latest product, promotion and offers</p>
                    <div class="subscribe__boxinput">
                        <input type="text" placeholder="Enter your email here...">
                        <div class="boxinput__btn">Submit</div>
                    </div>
                </div>
            </div>
            <!-- end container -->
            <div class="brand">
                <div class="brand__img">
                    <img src="images/brand1.png" alt="">
                </div>
                <div class="brand__img">
                    <img src="images/brand2.png" alt="">
                </div>
                <div class="brand__img">
                    <img src="images/brand3.png" alt="">
                </div>
                <div class="brand__img">
                    <img src="images/brand4.png" alt="">
                </div>
                <div class="brand__img">
                    <img src="images/brand5.png" alt="">
                </div>

            </div>
        </main>
        <!-- end main -->
        <!-- start footer -->
        <footer class="footer" id="contact">
            <div class="container">
                <div class="boxfooter">
                    <div class="footer__box1 mt-0">
                        <img src="images/logofooter.png" alt="">
                        <p class="box1__text1"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable by injected humour.</p>
                    </div>
                    <div class="footer__box1 mt-0">
                        <div class="box1__title">
                            Basic Information
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Changing Oil</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Saving Fuel</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Antilock Brakes</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Battery</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tips On Long Car Trips</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Air Pressure</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tire Replacement</a></li>
                        </ul>
                    </div>
                    <div class="footer__box1 mt-0">
                        <div class="box1__title">
                            Basic Information
                        </div>
                        <ul>
                            <li>
                                <div class="foot__icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                <div class="foot__text">
                                    <p>+1-202-555-0137</p>
                                    <p>+1-202-555-0137</p>
                                </div>
                            </li>
                            <li>
                                <div class="foot__icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                <div class="foot__text">
                                    <p>514 S. Magnolia St.<br> Orlando , US</p>
                                </div>
                            </li>
                            <li>
                                <div class="foot__icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                <div class="foot__text">
                                    <a href="#">dummymail@mail.com</a>
                                    <a href="#">yourmail@mail.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box1 mt-0">
                        <!-- <div class="box1__title">
                            Basic Information
                        </div> -->
                        <div class="btn__getlocaltion" onclick="getLocation()">
                            Get location
                        </div>
                        <div id="getLocation" style="width:100%;height: 70%"></div>

                    </div>
                </div>
            </div>


        </footer>
        <div class="endfooter">
            <p>Phát triển bởi Nhân đẹp trai</p>
        </div>
        <!-- end footer -->
    </div>
    <script src="./script/javascript.js"></script>
    <script src="./script/jquery-2.2.4.min.js"></script>
    <script src="./jquery/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>